In [ ]:
import pandas as pd

In [ ]:
# Carrega os dados do CSV
df = pd.read_csv("dados_eng_eletronica.csv")

# Calcula a taxa de retenção para cada turma
df["Taxa de Retenção (%)"] = (df["Ativos"] / df["Ingressantes"]) * 100

# Exibe a tabela com a nova coluna
df[["Ano-Periodo", "Ingressantes", "Ativos", "Taxa de Retenção (%)"]]

    Ano-Periodo  Ingressantes  Ativos  Taxa de Retenção (%)
0        2014.1            22       3             13.636364
1        2014.2            23       1              4.347826
2        2015.1            35       2              5.714286
3        2015.2            29       6             20.689655
4        2016.1            37       4             10.810811
5        2016.2            31       4             12.903226
6        2017.1            34       3              8.823529
7        2017.2            31      12             38.709677
8        2018.1            38      15             39.473684
9        2018.2            28      11             39.285714
10       2019.1            28      17             60.714286
11       2019.2            41      27             65.853659
12       2020.1            15      12             80.000000
13       2020.2            15      10             66.666667
14       2021.1            15      14             93.333333
15       2021.2             8       7             87.500000
16       2022.1            13      12             92.307692
17       2022.2            11      10             90.909091
18       2023.1            17      17            100.000000
19       2023.2             8       8            100.000000
20       2024.2             2       2            100.000000

In [7]:
df.to_csv("retencao.csV")